.modalWrapper {
    width: 460px;
    height: 480px;
    border-radius: 12px;
    background-color: var(--bg-light);
    padding: 42px 39px 38px 39px;
}

.closeBtn {
    fill: var(--light-gray);
    width: 18px;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
}

.title {
    color: var(--white);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.227em;
    margin-bottom: 14px;
}

.upperWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
}

.typingWrapper {
    display: flex;
    gap: 12px;
}

.pencilIcon {
    width: 16px;
    height: 16px;
    color: var(--txt-gray-light);
}

.typing {
    font-size: 16px;
    font-weight: 500;
    color: var(--txt-gray-light);
}

.name {
    font-size: 16px;
    font-weight: 600;
    color: var(--white);
}

.avatarWrapper {
    display: flex;
    align-items: center;
    width: 127px;
    height: 48px;
}

.avaBox {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.clientAvaTop {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.activeAva {
    border: 1px solid var(--blue-btn-normal);
}

.hasNewMessage {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--play-btn-triangle);
    position: absolute;
    top: 0;
    right: 0;
}

.arrow {
    width: 12px;
    margin-left: auto;
    cursor: pointer;
}

.chatWindow {
    height: 211px;
    /* border: 1px solid var(--light-gray); */
    margin-bottom: 14px;
    overflow: auto;
    overflow-x: hidden;
}

.chatWindow::-webkit-scrollbar {
    width: 1px;
    border-radius: 4px;
}

.chatWindow::-webkit-scrollbar-thumb {
    background: var(--player-secondary-bg);
    border-radius: 4px;
}

.chatWindow::-webkit-scrollbar-track {
    /* background: #202020; */
    border-radius: 4px;
}

.bottomWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.inputWrapper {
    position: relative;
    width: 324px;
}

.input {
    width: 324px;
    height: 72px;
    padding: 25px 99px 25px 50px;
    background-color: transparent;
    border-radius: 24px;
    border: 2px solid var(--main-gray);
    background: var(--bg-light);
    color: var(--white);
}

.input:focus {
    outline: 2px solid var(--light-gray);
}

.clipIcon {
    position: absolute;
    top: 24px;
    left: 22px;
    width: 22px;
    height: 22px;
    color: var(--main-gray);
    cursor: pointer;
}

.smileIcon {
    position: absolute;
    top: 22px;
    right: 71px;
    width: 26px;
    height: 26px;
    color: var(--main-gray);
    cursor: pointer;
}

.micIcon {
    position: absolute;
    top: 22px;
    right: 30px;
    width: 26px;
    height: 26px;
    color: var(--main-gray);
    cursor: pointer;
}

.micIcon.recording {
    color: red;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.clipIcon:hover,
.smileIcon:hover,
.micIcon:hover {
    color: var(--light-gray);
}

.emojiPicker {
    position: absolute !important;
    top: -285px !important;
    left: 170px !important;
    z-index: 10 !important;
    border-radius: 12px !important;
    width: 300px !important;
    height: 300px !important;
    /* background-color: var(--bg-light) !important; */
}

.emojiPicker>div::-webkit-scrollbar {
    width: 1px !important;
    border-radius: 4px !important;
}

.sendBtn {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.sendIcon {
    width: 36px;
    height: 36px;
    color: var(--white);
}

.sendBtn:hover .sendIcon {
    transform: scale(1.05);
}

.playerWrapper {
    position: absolute;
    top: 20px;
    left: 50px;
    display: flex;
    align-items: center;
}
